

@model IPagedList<Sosyal_Sorumluluk_Projesi.Models.urunler>


@using PagedList
@using PagedList.Mvc



@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPageAdmin.cshtml";
}

<h2>Ürünler</h2>

<p>
    @Html.ActionLink("Ürün Ekle", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.Label("kategoriAdi")
        </th>
        <th>
            @Html.Label("urunAdi")
        </th> 

        <th>
            @Html.Label("urunİcerik")
        </th>

        <th>
            @Html.Label("resim")
        </th>
      
        <th>

            @Html.Label("tarih")

        </th> 

        <th>

            @Html.Label("kullaniciID")

        </th> 

        <th>

            @Html.Label("memleketID")

        </th>
         
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.kategoriler.kategoriAdi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.urunAdi)
        </td> 

        <td>
            @Html.DisplayFor(modelItem => item.urunİcerik)
        </td>

        <td>
            <img width="75" src="@item.resim" />
        </td>
       

        <td>
            @Html.DisplayFor(modelItem => item.tarih)
        </td> 


        <td>
            @Html.DisplayFor(modelItem => item.kullaniciID)
        </td> 

        <td>
            @Html.DisplayFor(modelItem => item.memleketID)
        </td>


        <td>
            @Html.ActionLink("Düzenle", "Edit", new { id=item.urunID }) |
            @Html.ActionLink("Sil", "Delete", new { id = item.urunID })
            
        </td>
    </tr>
}
      



</table>

<div class="row">
    <div class="col-md-12" text-center>

        <div class="pagedList pagination-lg">
            @Html.PagedListPager(Model, Page => Url.Action("Index", new { Page }), PagedListRenderOptions.Classic)

        </div>


    </div> 

</div>
