@model IEnumerable<Sosyal_Sorumluluk_Projesi.Models.urunler>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPageAdmin.cshtml";
}

<h2>Ürünler</h2>

<p>
    @Html.ActionLink("Ürün Ekle", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.kategoriler.kategoriAdi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.urunAdi)
        </th> 

        <th>
            @Html.DisplayNameFor(model => model.urunİcerik)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.resim)
        </th>
      
        <th>

            @Html.DisplayNameFor(model => model.tarih)

        </th> 

        <th>

            @Html.DisplayNameFor(model => model.kullaniciID)

        </th> 

        <th>

            @Html.DisplayNameFor(model => model.memleketID)

        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.kategoriler.kategoriAdi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.urunAdi)
        </td> 

        <td>
            @Html.DisplayFor(modelItem => item.urunİcerik)
        </td>

        <td>
            <img width="75" src="@item.resim" />
        </td>
       

        <td>
            @Html.DisplayFor(modelItem => item.tarih)
        </td> 


        <td>
            @Html.DisplayFor(modelItem => item.kullaniciID)
        </td> 

        <td>
            @Html.DisplayFor(modelItem => item.memleketID)
        </td>


        <td>
            @Html.ActionLink("Düzenle", "Edit", new { id=item.urunID }) |
            @Html.ActionLink("Sil", "Delete", new { id = item.urunID })
            
        </td>
    </tr>
}
      



</table>
