@model Sosyal_Sorumluluk_Projesi.Models.urunler

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutPageAdmin.cshtml";
}

<h2>Arşivden Ürünü Sil</h2> 

<h3>Bu Ürünü Silmek İstiyormusunuz?</h3>
<div>
    <h4>urunler</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.kategoriler.kategoriAdi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.kategoriler.kategoriAdi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.kullanicilar.adsoyad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.kullanicilar.adsoyad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.memleket.memleketAdi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.memleket.memleketAdi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.urunAdi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.urunAdi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.resim)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.resim)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.urunİcerik)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.urunİcerik)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tarih)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tarih) 
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Geri Dön", "Index")
        </div>
    } 
</div>
