@model Sosyal_Sorumluluk_Projesi.Models.urunler

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutPageAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>urunler</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.kategoriler.kategori_adi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.kategoriler.kategori_adi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.kullanicilar.ad_soyad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.kullanicilar.ad_soyad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.memleket.memleket_adi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.memleket.memleket_adi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.urun_adi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.urun_adi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.resim)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.resim)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.urun_icerik)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.urun_icerik)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tarih)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tarih)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.urun_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
