@model Sosyal_Sorumluluk_Projesi.Models.kullanicilar

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutPageAdmin.cshtml";
}

<h2>Üye Detayları</h2>

<div>
    <h4>kullanicilar</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.memleket.memleketAdi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.memleket.memleketAdi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.yetki.yetkiAdi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.yetki.yetkiAdi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.adsoyad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.adsoyad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.kullaniciAdi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.kullaniciAdi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sifre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sifre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.telefon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.telefon)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.resim)
        </dt>

        <dd>
            <img src="@Model.resim" width="75" alt="@Model.kullaniciAdi" />
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Düzenle", "Edit", new { id = Model.kullaniciID }) |
    @Html.ActionLink("Geri Dön", "Index")
</p>
