@model IEnumerable<Sosyal_Sorumluluk_Projesi.Models.kullanicilar>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPageAdmin.cshtml";
}

<h2>Üyeler</h2>

<p>
    @Html.ActionLink("Üye Ekle", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.memleket.memleketAdi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.yetki.yetkiAdi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.adsoyad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.kullaniciAdi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.mail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sifre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.telefon)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.resim)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.memleket.memleketAdi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.yetki.yetkiAdi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.adsoyad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.kullaniciAdi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.mail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sifre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.telefon)
        </td>
        <td>
            <img src="@item.resim" width="50" alt="" />
        </td>
        <td>
          
            @Html.ActionLink("Detaylar", "Details", new { id=item.kullaniciID }) |
            @Html.ActionLink("Sil", "Delete", new { id=item.kullaniciID })
        </td>
    </tr>
}

</table> 
